$font-size: 14px;
$line-height: 18px;

$font-size-1: 45px;
$line-height-1: 50px;

$font-size-2: 36px;
$line-height-2: 40px;

$font-size-3: 19px;
$line-height-3: 27px;

$font-size-4: 17px;
$line-height-4: 20px;

$green: #76948e;
$vom: #908a35;
$orange: #fc854e;
$peach: #feac8f;
$pink: #fcc3ca;
$dark-grey: #303030;
