/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* todo:
  . use ems
  . adjust to baseline
  . add js for the menu button
  .
 */

 /* add baseline grid */

 html {
   background-color: #fff;
   background-size: 21px 21px;
   background-image: linear-gradient(#ccc .05em, transparent .05em),
                     linear-gradient(90deg, #ccc .05em, transparent .05em);
 }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 14px;
  line-height: 21px;
  height: 100%;
}

main,
header {
  margin: 105px 31.5px 31.5px 31.5px;
}

main {
  /* footer */
  padding-bottom: 100px;
}

ol,
ul {
  list-style: none;
}

a {
  color: rgba(0, 0, 0, 0.75);
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  text-align: right;
}

h2 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 5.25px;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 15.75px;
}

h2 {
  margin-bottom: 21px;
}

p {
  margin-bottom: 21px;
}

header {
  margin-bottom: 105px;
}

header h2 {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 10.5px;
}

nav {
  position: absolute;
  top: 42px;
  right: 25px;
}

nav li {
  float: left;
  margin-left: 14px;
}

img {
  border: 0;
  width: 315px;
  height: 315px;
  margin-bottom: 17px; /* to account for drop shadow blur */
}

#bg {
  background: radial-gradient(177.18% 177.18% at 100% 0%, #A4FFBD 0%, #1D5CFF 100%), #38C4CD;
  box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
}

#or {
  background: radial-gradient(177.18% 177.18% at 100% 0%, #FFBD5A 14.58%, #FF5894 100%), #38C4CD;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

#bp {
  background: radial-gradient(177.18% 177.18% at 100% 0%, #F2A4FF 0%, #1D5CFF 100%), #38C4CD;
  box-shadow: 8px -8px 5px rgba(0, 0, 0, 0.25);
  transform: rotate(180deg);
}

#oy {
  background: radial-gradient(177.18% 177.18% at 100% 0%, #FBFF20 0%, #FF4F4F 100%), #38C4CD;
  box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
}

.project {
  margin-bottom: 168px;
}

.projectLinks {
  display: block;
  margin-top: .25px;
  margin-bottom: 15.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.projectLinks li {
  float: left;
  margin-right: 20px;
}

/* skills section */

.skillColumns {
  display: grid;
  grid-template-columns: auto auto auto;
}

.other {
  display: grid;
  grid-template-columns: auto auto;
}

#skills li {
  list-style: inside;
  white-space: nowrap;
}

#skills h2 {
  margin-bottom: 10.5px;
}

#skills h4 {
  margin-top: 10.5px;
}

footer {
  padding: 42px 25px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
}
