/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,
menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* todo:
  . use ems
  . adjust to baseline
  . add js for the menu button
  .
 */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 14px;
  line-height: 21px;
  height: 100%;
}

main,
header {
  margin: 73.5px 31.5px;
}

main {
  /* footer */
  margin-bottom: 100px;
}

ol,
ul {
  list-style: none;
}

a {
  color: rgba(0, 0, 0, 0.75);
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

p {
  padding-bottom: 10.5px;
}

h1 {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 21px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 5.25px;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 15.75px;
}

header h2 {
  font-size: 16px;
  font-weight: 400;
}

nav {
  display: inline-block;
  margin-bottom: 21px;
}

nav li {
  float: left;
  margin-right: 14px;
}

#education p {
  padding-bottom: 5.75px;
}

#education .school {
  font-style: italic;
  font-weight: 400;
}

#education .dates {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  padding: 0;
}

.project {
  clear: both;
  display: inline-block;
  margin-bottom: 42px;
}

.projectLinks {
  margin-top: .25px;
  margin-bottom: 15.5px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: pink;
}

.projectLinks li {
  float: left;
  margin-right: 14px;
}

#about,
#education {
  margin-bottom: 42px;
}

/* skills section */

#skills {
  overflow: hidden;
}

#skills li {
  list-style: inside;
  white-space: normal;
  margin-left: 10px;
}

#skills h2 {
  margin-bottom: 10.5px;
  padding-left: 0;
}

#skills h4 {
  margin-top: 10.5px;
}

.skillColumns {
  display: grid;
  grid-template-columns: auto auto;
}

.skillsOther {
  display: grid;
  grid-template-columns: auto auto;
}

footer {
  padding: 42px 21px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.25);
}

footer p {
  float: left;
  margin-left: 21px;
}

/* media queries */

/* this max width is temporary */
/* hardcoded image pixel widths are temporary */
@media (max-width: 400px) {
  .skillColumns,
  .skillsOther {
    display: block;
  }
}

@media (min-width: 400px) {
  .skillColumns {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 450px) {
  #skills li {
    white-space: nowrap;
  }
}

@media (min-width: 700px) {
  header,
  main {
    margin-top: 100px;
  }

  /* find a better way to do the sidebar */
  main {
    margin-left: 273px;
    padding-top: 10.5px;
  }

  nav {
    position: absolute;
    top: 21px;
    left: 31.5px;
  }

  .sidebar {
    float: left;
    width: 200px;
  }

  #about,
  #skills {
    margin-top: 42px;
  }

  .skillsOther {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 900px) {
  nav {
    top: 42px;
    left: 181.5px;
  }

  main {
    margin-left: 423px;
    margin-right: 150px;
  }

  .sidebar,
  .footerContent {
    margin-left: 150px;
  }
}

@media (min-width: 1200px) {
  nav {
    top: 42px;
    left: 281.5px;
  }

  main {
    margin-left: 523px;
    margin-right: 250px;
  }

  .sidebar,
  .footerContent {
    margin-left: 250px;
  }
}


@media (min-width: 1500px) {
  nav {
    top: 42px;
    left: 481.5px;
  }

  main {
    margin-left: 723px;
    margin-right: 450px;
  }

  .sidebar,
  .footerContent {
    margin-left: 450px;
  }
}
